{% set mirror = "http://mirror.yandex.ru/ubuntu/" %}
{% set codename = ansible_lsb.codename %}
{% set src_ok = linbase_apt_allow_src | bool %}
{% if linbase_apt_allow_universe | bool %}
{% set channels = "main restricted universe multiverse" %}
{% else %}
{% set channels = "main restricted" %}
{% endif %}
# created by ansible

{% for branch in ['', '-updates', '-security'] %}
deb {{mirror}} {{codename}}{{branch}} {{channels}}
{% if src_ok %}
deb-src {{mirror}} {{codename}}{{branch}} {{channels}}
{% endif %}

{% endfor %}
{% if linbase_apt_allow_backports | bool %}
deb {{mirror}} {{codename}}-backports {{channels}}
{% if src_ok %}
deb-src {{mirror}} {{codename}}-backports {{channels}}
{% endif %}
{% endif %}
