# ansible-managed
[Unit]
Description=Ferm frontend for iptables with ipset

DefaultDependencies=no
Conflicts=ufw.service
Before=network.target
{% for service in ferm_dependent_services %}
Before={{ service }}.service
{% endfor %}

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart={{ force_cleanup }} {{ ferm_binary }} {{ ferm_config }}
ExecReload={{ lock_xtables }} {{ ferm_binary }} {{ ferm_config }}
ExecStop={{ force_cleanup }} {{ ferm_binary }} --flush {{ ferm_config }}
ExecStop={{ ferm_binary }} --flush {{ ferm_config }}

[Install]
WantedBy=multi-user.target
