# ansible-managed
[Unit]
Description=Ferm frontend for iptables with ipset

DefaultDependencies=no
Conflicts=ufw.service
Before=network.target
Before=netfilter-persistent.service
Before=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart={{ force_cleanup }} {{ ferm_binary }} {{ ferm_dir }}/config.ferm
ExecReload={{ ferm_binary }} {{ ferm_dir }}/config.ferm
ExecStop={{ force_cleanup }} {{ ferm_binary }} --flush {{ ferm_dir }}/config.ferm
ExecStop={{ ferm_binary }} --flush {{ ferm_dir }}/config.ferm

[Install]
WantedBy=multi-user.target
