# ansible-managed
[Unit]
Description=Ferm frontend for iptables with ipset

DefaultDependencies=no
Conflicts=ufw.service
Before=network.target
{% for service in ferm_dependent_services %}
Before={{ service }}.service
{% endfor %}
{# override ip(6)tables on oracle cloud #}
After=iptables.service
After=ip6tables.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart={{ ferm_run }} --reset
ExecReload={{ ferm_run }}
ExecStop={{ ferm_run }} --reset --flush

[Install]
WantedBy=multi-user.target
