---
branches:
  only:
    - master
    - /^v/
language: python
python: 3.6
os: linux

env:
  global:
    - ROLE_NAME=ivansible.lin_motd
    - IVATEST_SSH_SERVER=false
    - IVATEST_FIREWALL=none

before_install:
  - ln -s $TRAVIS_BUILD_DIR $(dirname $TRAVIS_BUILD_DIR)/$ROLE_NAME

install:
  - pip3 install -U pip setuptools wheel
  - pip3 install docker jmespath boto3 mitogen molecule pytest testinfra
  # also pulled: ansible-lint yamllint flake8

matrix:
  include:
    - name: test on xenial
      dist: xenial
      script:
        - molecule test -s localhost

    - name: test on bionic
      dist: bionic
      script:
        - molecule test -s localhost

    - name: tests in docker
      dist: bionic
      services: docker
      script:
        # run step by step to work around no-output delay with idempotence
        - molecule lint
        - molecule destroy
        - molecule dependency
        - molecule syntax
        - molecule create
        - molecule converge
        - travis_wait 30 molecule idempotence
        - molecule verify
        - molecule destroy
...
