---
## defaults for ivansible.lin_yggdrasil

ygg_enable: true
ygg_upgrade: false
ygg_backups: false

ygg_ifname: tun0
ygg_mtu: 65535

## socks tuple HOST:PORT for peer connections, optional
ygg_socks: ~

## public address is used by other peers to construct connection string
## local peer always listens on all interfaces
ygg_host: 127.0.0.1
ygg_host6: ::1

## tcp port will be open in firewall for internal hosts only
## tls port will be open in firewall for everyone
ygg_tcp_port: 0
ygg_tls_port: 0

## admin port will listen on local interface only
ygg_admin_port: 9001

ygg_pub: xxx
ygg_key: xxx

## name of inventory group to collect peer definitions:
##   - allowed public keys
##   - remote subnets for routing
ygg_peer_group: ~

ygg_local_peers: []
#  - name: PEER     - required
#    socks: false   - optional flag, enable socks
#    tls: true      - optional flag, select tls
#    ipv6: false    - optional flag, select host6 address

ygg_public_peers: []
#  - conn: tcp://HOST or tls://HOST (required)
#    addr: YGG_IPV6
#    host: IPV4
#    desc: STRING

## also make configurations for windows and mobile hosts
ygg_slave_peers: []

## node IPv6 can be added to DNS service
ygg_ipv6: ~

## cloudflare credentials to add node IPv6 addresses in DNS
ygg_cf_enable: false
ygg_cf_email: ~
ygg_cf_token: ~
ygg_cf_zone: ~
ygg_cf_suffix: ~

## add yggdrasil peer IPs to the list of internal ferm hosts?
ygg_internal_hosts: false

## short peer name to use as a comment in config files
ygg_alias: ~
...
