ansible==5.6.0
ansible-core==2.12.4
ansible-compat==2.0.2
mitogen==0.3.2
# avoid latest cryptography, it requires rust
cryptography==3.3.2
# testing
molecule==3.6.1
molecule-docker==1.1.0
ansible-lint==6.0.2
docker
yamllint
pytest
pytest-testinfra
flake8
# extensions
pywinrm
passlib
# jmespath is required by json_query filter
jmespath
# netaddr is required by ipaddr filter
netaddr
# boto3 is required by cloudfront_distribution
boto3
