ansible==4.10.0
ansible-core==2.11.10
mitogen==0.3.2
# avoid latest cryptography, it requires rust
cryptography==3.3.2
# testing
molecule==3.2.4
molecule-docker==0.2.4
ansible-lint==5.4.0
docker
yamllint
pytest
pytest-testinfra
flake8
# extensions
pywinrm
passlib
# jmespath is required by json_query filter
jmespath
# netaddr is required by ipaddr filter
netaddr
# boto3 is required by cloudfront_distribution
boto3
