# ansible-managed
[Unit]
Description=Ferm frontend for iptables with ipset

DefaultDependencies=no
Conflicts=ufw.service
Before=network.target
Before=netfilter-persistent.service

[Service]
{% set ferm_config = ferm_dir + '/' + ferm_configs[0] %}
Type=oneshot
RemainAfterExit=yes
ExecStartPre={{ ferm_ipset_binary }} start {{ ferm_dir }}
ExecStart={{ ferm_binary }} {{ ferm_config }}
ExecStop={{ ferm_binary }} --flush {{ ferm_config }}
ExecReload={{ ferm_ipset_binary }} reload

[Install]
WantedBy=multi-user.target
