#!/bin/bash
#set -x
#. /etc/restic/vars
set -o pipefail
{% set nice_restic_binary = 'nice ' + lin_restic_binary %}
{{ lin_restic_binary }} version
{% if lin_restic_prune_pre_command %}
echo '== pre-actions =='
{{ lin_restic_prune_pre_command }}
{% endif %}
echo '== unlock =='
{{ lin_restic_binary }} unlock
echo '== check =='
{{ nice_restic_binary }} check
echo '== forget =='
{{ nice_restic_binary }} forget {{ verb_opts }}--prune --group-by=host,paths,tags {{ forget_opts }}{{ hide_stream_reset_clause }}
echo '== size =='
{{ lin_rclone_binary }} size {{ lin_restic_rclone_remote }}:{{ lin_restic_reponame }}
echo '== about =='
{{ lin_rclone_binary }} cleanup {{ lin_restic_rclone_remote }}:
{{ lin_rclone_binary }} about {{ lin_restic_rclone_remote }}:
echo '== cache cleanup =='
{{ lin_restic_binary }} cache --cleanup
{% if lin_restic_prune_post_command %}
echo '== post-actions =='
{{ lin_restic_prune_post_command }}
{% endif %}
echo '== prune done =='
