#!/bin/bash
set -o pipefail
{{ lin_restic_binary }} version
echo '== unlock =='
{{ lin_restic_binary }} unlock
echo '== check =='
{{ lin_restic_binary }} check
echo '== forget =='
{{ lin_restic_binary }} forget {{ verb_opts }}--group-by=host,paths,tags {{ forget_opts }}
echo '== prune =='
{{ lin_restic_binary }} prune 2>&1 | grep -v 'finish writing GET request'
echo '== cleanup =='
{{ lin_rclone_binary }} cleanup {{ lin_restic_rclone_remote }}:
echo '== about =='
{{ lin_rclone_binary }} about {{ lin_restic_rclone_remote }}:
echo '== size =='
{{ lin_rclone_binary }} size {{ lin_restic_rclone_remote }}:{{ lin_restic_reponame }}
echo '== cache cleanup =='
{{ lin_restic_binary }} cache --cleanup
echo '== prune done =='
