#!/bin/bash
set -o pipefail
{{ lin_restic_binary }} version
{% if lin_restic_prune_pre_command %}
echo '== pre-actions =='
{{ lin_restic_prune_pre_command }}
{% endif %}
echo '== unlock =='
{{ lin_restic_binary }} unlock
echo '== check =='
{{ lin_restic_binary }} check
echo '== forget =='
{{ lin_restic_binary }} forget {{ verb_opts }}--group-by=host,paths,tags {{ forget_opts }}
echo '== prune =='
{{ lin_restic_binary }} prune 2>&1 | grep -v 'finish writing GET request'
echo '== cleanup =='
{{ lin_rclone_binary }} cleanup {{ lin_restic_rclone_remote }}:
echo '== about =='
{{ lin_rclone_binary }} about {{ lin_restic_rclone_remote }}:
echo '== size =='
{{ lin_rclone_binary }} size {{ lin_restic_rclone_remote }}:{{ lin_restic_reponame }}
echo '== cache cleanup =='
{{ lin_restic_binary }} cache --cleanup
{% if lin_restic_prune_post_command %}
echo '== post-actions =='
{{ lin_restic_prune_post_command }}
{% endif %}
echo '== prune done =='
